* {
	font-family: serif;
}
html {
	background-color: lightgoldenrodyellow;
}
body {
	background-color: white;
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px 40px 40px;
}
h1 {
	margin: 0;
	font-size: 45px;
	padding: 10px;
}
a {
	text-decoration: none;
	color: black;
}
#titledes {
	display: inline;
	font-family: fantasy;
	font-size: 20px;
}
#menu {
	background-color: whitesmoke;
	width: 100%;
	float: left;
}
#menu * {
	float: left;
}
#menu a, #menu p {
	padding: 20px 25px;
	margin: 0;
	font-size: 25px;
}
#menu p {
	display: inline;
}
#menu a:hover {
	color: white;
	background-color: gray;
}
#search input, #search select {
	position: relative;
	right: 5%;
	top: 15px;
}
#search {
	float: right;
}
#search * {
	font-size: 20px;
	border-radius: 0;
	margin: 0;
	float: left;
}
#searchOps {
	width: 100px;
	height: 45px;
	border: 1px solid rgb(181, 181, 181);
	border-right: none;
}
#searchBtn {
	width: 100px;
	height: 45px;
	color: white;
	background: darkmagenta;
	border: none;
}
#searchText {
	width: 240px;
	height: 41px;
	border: 1px solid rgb(181, 181, 181);
}

#content {
	width: 100%;
	float: left;
}
#gamelist {
	position: fixed;
	width: calc(25% - 60px);
	height: calc(100vh);
	/*overflow: auto;*/
	background-color: lightgray;
	font-size: 20px;
	float: left;
}
.gamename {
	margin: 0;
	padding: 1em;
}
.gamename:hover {
	background-color: white;
}
.gamearea {
	width: calc(75% - 20px);
	float: right;
	margin-right: 20px;
	display: none;
}
#blankarea {
	padding: 475px;
}

.TBbutton {
	display: none;
	position: fixed;
	background-color: whitesmoke;
    right: 10px; 
    z-index: 1000; 
    border: none;
    outline: none; 
    cursor: pointer; 
    padding: 15px; 
    font-size: 20px;
}
#topBtn {
	bottom: 130px; 
}
#bottomBtn {
	bottom: 50px; 
}

.gamedesciption, .gamescreen {
	width: 100%;
	margin-top: 12px;
	margin-left: 16px;
	border-radius: 12px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
}
.gamescreen {
	height: 700px;
	overflow: hidden;
}
.descriptions {
	line-height: 35px;
	font-size: 23px;
	margin: 0;
	background-color: blanchedalmond;
	padding: 10px;
	border-radius: 12px;
}
.desdetails {
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
	text-indent: 2em;
	height: 70px;
	padding: 20px;
	margin: 0;
	border-radius: 0 0 12px 12px;
	display: none;
}
.expandBtn {
	float: right;
	position: relative;
	background-color: white;
	font-family: monospace;
	top: -10px;
	right: -10px;
	height: 55px;
	padding: 9px;
	border-radius: 0 12px 12px 0;
}
#text1 {
	background-color: lightgoldenrodyellow;
	border: 1px solid gray;
}
#udlrImg {
	background: url(http://www.4399.com/images/p2016/icon-keyboard.png);
	background-position: 0 -626px;
	width: 53px;
	height: 32px;
	display: inline-block;
    vertical-align: middle;
}
.taskbar1, .taskbar2 {
	background-color: whitesmoke;
	height: 70px;
}
.taskbar1 p {
	line-height: 70px;
	font-size: 25px;
	margin: 0;
	display: inline;
}
#speedtext {
	text-align: left;
}
#scoretext {
	float: right;
}
.funckeyBtn {
	height: 100%;
	margin: 0;
	background-color: white;
	width: 100px;
	font-size: 20px;
}
#abcstartBtn {
	float: left;
	border-radius: 0 0 0 12px;
}
#abcresetBtn {
	float: right;
	border-radius: 0 0 12px 0;
}
#abctimer {
	font-size: 40px;
	line-height: 70px;
	text-align: center;
}
.gameself {
	height: calc(100% - 140px);
}

#abcgame {
	background-color: #317ef3;
}
#abcgame #abc_object1 {
	position: absolute;
	top: 756px;
	left: 1166px;
	width: 150px;
	height: 150px;
	background-color: red;
	z-index: 200;
	float: left;
}
#abcgame #abc_object2 {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: white;
	z-index: 200;
}
#randomlocscore {
	font-size: 30px;
	position: absolute;
	display: none;
	background-color: lightgoldenrodyellow;
}

#lotteryArea {
	width: 100%;
	height: 440px; 
}
#lotteryBoxArea {
	width: 400px;
	height: 400px;
	float: left;
}
.lotteryBox {
	width: calc((100% / 3) - 8%);
	height: calc((100% / 3) - 8%);
	margin: 2%;
	background-color: gray;
	float: left;
	overflow: hidden;
	padding: 2%;
	opacity: 0.9;
}
.lotteryBox2 {
	width: calc((100% / 3) - 8%);
	height: calc((100% / 3) - 8%);
	margin: 2%;
	background-color: white;
	float: left;
	overflow: hidden;
	padding: 2%;
	opacity: 1.0;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.90);;
}
.lotteryBox p, .lotteryBox2 p {
	text-align: center;
	font-size: 20px;
	line-height: 90px;
	margin: 5px auto;
}
.lotteryBox p {
	color: white;
}
.lotteryBox2 p {
	color: black;
}
#text0 {
	font-size: 22px;
	margin: 10px;
	text-align: center;
}

#lotteryBoxM {
	width: calc((100% / 3) - 8%);
	height: calc((100% / 3) - 8%);
	margin: 2%;
	background-color: gray;
	float: left;
	overflow: hidden;
	padding: 2%;
}
#lotteryMBtn {
	width: 100%;
	height: 100%;
	background: #E6E6E6;
	margin: 0 auto;
	font-size: 25px;
}



#turnplatearea {
	width: 370px;
	height: 370px;
	margin-right: 50px;
	float: right;
}
#turnplate {
	width: 370px;
	height: 370px;
	border-radius: 100%;
	background-image: url(转盘2.jpg);
	background-size: 122%;
	background-position: center;
	float: left;
}
#turnarrow {
	font-size: 90px;
	font-weight: 800;
	float: left;
	position: relative;
	left: 140px;
	top: -360px;
	color: white;
}
#turnplateBtn {
	width: 370px;
	margin-right: 50px;
	float: right;
	background-color: inherit;
}
#comesoon {
	height: 210px;
}