html {
    background-color: #c2eac2;
}
body {
    background-color: #fdfdfd;
    text-align: center;
	margin: 0 auto;
    max-width: 1000px;
    padding: 40px 40px 80px;
}
h1 {
	font-family: fantasy;
	font-size: 37px;
}
h2 {
	font-family: cursive;
	font-size: 32px;
}
h3 {
	font-family: cursive;
    font-size: 25px
}
h4, a {
    font-family: serif;
    font-size: 20px;
}
span {
    float: left;
    width: 1.0em;
  	font-size: 350%;
  	font-family: serif;
  	line-height: 80%;
}
p {
    font-family: serif;
    font-size: 18px;
    text-align: left;
}
blockquote {
    font-family: fantasy;
    font-size: 18px;
	text-align: left;
}
table, th, td {
	border: 2px solid black;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	background-color: lightgray;
	font-weight: 600;
}
img {
	text-align: center;
}
.blackscene {
	background-color: lightgoldenrodyellow;
	color: lightgoldenrodyellow;
}
#headline {
	position: sticky;
	top: 0;
	background-color: #fdfdfd;
}
#question {
	font-size: 15px;
	text-align: center;
}
#mail {
	background-color: lightslategrey;
	font-size: 15px;
	font-family: serif;
	color: white;
}