* {
	font-family: serif;
}
body {
	margin: 0;
	padding: 0;
	background-color: lightgoldenrodyellow;
}


/* Navigation Bars */
#menu {
	position: sticky;
	top: 0;
	z-index: 9999;
	margin: 0;
	background-color: white;
	margin-top: -8px;
	margin-left: -8px;
	width: 100%;
	padding: 0 4px;
	font-family: serif;
}
#menu, #menu li {
	float: left;
}
#menu ul {
	list-style-type: none;
	margin: 0;
}
#menu a {
	text-decoration: none;
	color: black;
	width: 120px;
	height: 35px;
	padding: 10px 0;
	text-align: center;
	display: block;
	font-size: 25px;
}
#menu .interval {
	width: 50px;
}
#menu .menuitem:hover{
	background-color: gray;
	color: white;
}


/* Search engine */
#search * {
	font-size: 17px;
	font-family: cursive;
	margin: 0;
	float: left;
}
#search input {
	position: relative;
	left: 20%;
	top: 6px;
}
#search #text {
	width: 250px;
	height: 35px;
}
#search #google, #search #bing {
	width: 80px;
	height: 41px;
	color: white;
}
#search #google {
	background: darkmagenta;
	border: 1px solid darkmagenta;
}
#search #bing {
	background: blue;
	border: 1px solid blue;
}


/* Part at the bottom of each page */
#pagebottom {
	background-color: grey;
	bottom: 0;
	margin: 0;
	padding: 10px;
	text-align: center;
}
#pagebottom p {
	font-size: 18px;
	color: white;
}
#pagebottom a {
	color: white;
}


/* Common use */
.box {
	box-sizing: border-box;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
	border-radius: 10px;
	padding: 10px;
	font-size:17px;
	color: #333333;
	margin-bottom: 20px;
	float: left;
}
.circle {
	border-radius: 100%;
}
@keyframes run{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}


/* Home Page */
#homepicture {
	top: 0;
	z-index: -1;
	position: fixed;
	width: 100%;
}
#content {
	background-color: rgb(220, 224, 177);
	z-index: 1;
	font-size: 20px;
	padding-top: 30px;
}
h1 {
	color: rgb(250, 160, 25);
	text-align: center;
	font-size: 130px;
	padding: 200px 0;
	font-family: fantasy;
	margin: 0;
}
#hpcircle {
	width:250px;
	height:250px;
	float: right;
	overflow: hidden;
}
#hprecord {
	width:250px;
	height:250px;
	border-radius: 100%;
	background: url("record.jpg");
	background-size: cover;
	animation: run 10s linear infinite;
}
#recommend {
	width: 100%;
	height: 400px;
	background: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201810%2F05%2F20181005114422_fstjt.thumb.700_0.gif&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1622831608&t=fca4a1aa54d2d540edb6481b88686722);
	/*background-size: cover;*/
	float: left;
}
.recommend-area {
	width: 864px;
	height: 400px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.recommend-set {
	width: 4320px;
	height: 400px;
	animation: recommend 13s linear infinite;
}
@keyframes recommend{
	0% {margin-left:0px;}
	10% {margin-left:0px;}
	20% {margin-left:-864px;}
	40% {margin-left:-864px;}
	50% {margin-left:-1728px;}
	70% {margin-left:-1728px;}
	80% {margin-left:-2592px;}
	90% {margin-left:-2592px;}
	100% {margin-left:-3456px;}
}
.recommend-content {
	width: 864px;
	height: 400px;
	float: left;
}
.recommend-content img {
	width: 100%;
	margin-top: -5%;
}

#hptext .box {
	margin: 5% 10% 2% 10%;
	width: 80%;
	height:400px;
	background-color: white;
	overflow: hidden;
}
#hptext .box .hpimg img {
	height: 100%;
}
.hptitle {
	width: 40%;
	margin: 0;
	height: 100%;
	float: left;
}
.hpimg {
	width: 60%;
	height: 100%;
	float: right;
}
#hptitle1, #hptitle2, #hptitle3 {
	font-size: 47px;
	color: rgb(250, 160, 25);
}

#paddingblank1{
	padding: 1000px 0;
}


/* Ranking list */
#adareal {
	position: absolute;
	width: 300px;
	top: 180px;
	left: -5%;
	text-align: right;
}
#adarear {
	position: absolute;
	width: calc(320px - 6.25%);
	top: 175px;
	left: 83.7%;
	text-align: left;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 5px;
}
.popad {
	float: top;
	width: 300px;
	height: 65px;
	margin-bottom: 10%;
	background-color: white;
	line-height: 65px;
	font-size: 22px;
	color: white;
	opacity: 0.7;
	box-sizing: border-box;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
	border-radius: 10px;
	padding: 10px;
	text-shadow: 2px 2px black;
}
#popad1 {
	background: url(https://wsingbssdl.kugou.com/c691ec9a97fcba76a4165c29548307af.png);
	background-size: cover;
}
#popad2 {
	background: url(https://img2.baidu.com/it/u=3900779292,2576534610&fm=26&fmt=auto&gp=0.jpg);
	background-size: cover;
	background-position: 0 11%;
}
#popad3 {
	background: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3322063102,940298374&fm=26&gp=0.jpg);
	background-size: cover;
}
#popad4 {
	background: url(https://img1.kuwo.cn/star/albumcover/500/53/74/1792680470.jpg);
	background-size: cover;
}
#popad5 {
	background: url(https://img3.kuwo.cn/star/albumcover/500/72/43/2501543604.jpg);
	background-size: cover;
	background-position: 0 50%;
}
#popad6 {
	background: url(https://img3.kuwo.cn/star/starheads/500/10/30/1462570556.jpg);
	background-size: cover;
	background-position: 0 10%;
}
.popad:hover {
	font-size: 25px;
	margin-top: -5px;
	margin-left: -5px;
	margin-bottom: calc(10% - 5px);
	width: 310px;
	height: 75px;
	line-height: 80px;
	overflow: visible;
}

#carousel {
	width: 100%;
	height: 400px;
	background-color: lightgray;
	margin-top: 60px;
	float: left;
}
.carousel-area {
	width: 864px;
	height: 360px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
.carousel-set {
	width: 4320px;
	height: 360px;
	animation: carousel 11s linear infinite;
}
@keyframes carousel{
	0% {margin-left:0px;}
	22% {margin-left:0px;}
	33% {margin-left:-864px;}
	55% {margin-left:-864px;}
	66% {margin-left:-1728px;}
	88% {margin-left:-1728px;}
	100% {margin-left:-2592px;}
}

.carousel-content {
	width: 864px;
	height: 360px;
	float: left;
}
.carousel-content img {
	width: 100%;
	margin-top: -10%;
}

#ranklist {
	padding: 0 150px;
}
#list1, #list2, #list3 {
	width: 30%;
	background-color: white;
}
#list1, #list3 {
	margin: 100px 0;
}
#list2 {
	margin: 100px 5%;
}
.box ol li {
	font-size: 25px;
	padding: 10px;
}
.listimg {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 40px;
}
.img-text {
	width: 100%;
	padding: 10% 0;
	color: white;
	font-weight: 800;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px 1px black;
	background-color: rgba(78, 17, 100, 0.4);
}
.box ol li:hover {
	font-size: 28px;
	font-weight: 700;
	padding-bottom: 7px;
	padding-top: 7px;
}
.box #img1 {
	background: url(https://y.gtimg.cn/music/photo_new/T001R300x300M000003SfUmh0P2tVN.jpg?max_age=2592000);
	background-size: cover;
}
.box #img2 {
	background: url(https://img2.kuwo.cn/star/albumcover/500/45/30/1225067440.jpg);
	background-size: cover;
}
.box #img3 {
	background: url(https://img3.kuwo.cn/star/albumcover/500/40/18/962612681.jpg);
	background-size: cover;
}
#paddingblank2 {
	padding: 650px;
}


/* Stars */
#description {
	width: 100%;
	height: 1200px;
	overflow: hidden;
	left: 100px;
}
#OhWonder {
	width:200px;
	height:200px;
	border-radius: 100%;
	background: url("Ohwonder2.jpg");
	background-size: cover;
	position: absolute;
	top:15%;
	left: 5%;
	float: left;
}
#OhWonderbox {
	background-color: whitesmoke;
	width: 850px;
	height:180px;
	columns: 20px 1;
	border: black;
	position: relative;
	left: 23%;
	top: 7%;
	animation: box1 2s linear;
}
@keyframes box1{
	from{margin-left: 900px;}
	to{margin-left: 0px}
}
#Hyukoh{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: url(Hyukoh2.jpg);
	background-size: cover;
	position: absolute;
	top: 50%;
	right: 5%;
	float: right;
	
}
#Hyukohbox{
	background-color: whitesmoke;
	width: 850px;
	height:180px;
	columns: 20px 1;
	border: black;
	position: relative;
	left: 18%;
	top: 13%;
	animation: box2 2s linear;
}
@keyframes box2{
	from{margin-left: -800px;}
	to{margin-left: 0px;}
}
#juzihai{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: url(juzihai2.png);
	background-size: cover;
	position: absolute;
	top: 85%;
	left: 5%;
	float: left;
}
#juzihaibox{
	background-color: whitesmoke;
	width: 850px;
	height:180px;
	border: black;
	position: relative;
	top: 20%;
	left: 23%;
	animation: box3 2s linear;
}
@keyframes box3{
	from{margin-left: 850px;}
	to{margin-left: 0px;}
}
#yo{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: url(yologo.jpg);
	background-size: cover;
	border: 1px solid black;
	position: absolute;
	top: 120%;
	right: 5%;
	float: right;
}
#yobox{
	background-color: whitesmoke;
	width: 850px;
	height:180px;
	columns: 20px 1;
	border: black;
	position: relative;
	top: 26%;
	left: 18%;
	animation: box4 2s linear;
}
@keyframes box4{
	from{margin-left: -800px;}
	to{margin-left: 0px;}
}

#st{
	text-align: center;
}
#paddingblank3 {
	padding: 10px 0;
}


/* About us */
#regist {
	width: calc(100% - 220px);
	margin: 70px 110px;
	background-color: white;
}
#recordarea {
	width: 57%;
	float: left;
}
#cirmiddle {
	border: 20px double white;
	width:230px;
	height:230px;
	border-radius:100%;
	position: relative;
	left: 337px;
	top: 240px;
	background-color: yellow;
	overflow: hidden;
	z-index: 2000;
	float: left;
}
#road {
	border-bottom: 5px solid black;
	position: relative;
	width: 250px;
	height: 150px;
}

#movearea {
	width: 160px;
	height: 30px;
	position: relative;
	top: 120px;
	left: 30px;
	animation: jump 3s linear infinite paused;
}
@keyframes jump{
	0% {transform: translateY(0px);}
	25% {transform: translateY(-130px);}
	50% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}

#square {
	width: 30px;
	height: 30px;
	background-color: black;
	animation-fill-mode: forwards;
	animation: moving 3s linear infinite paused;}
@keyframes moving{
	0% {transform: rotate(0deg); margin-left: 0px;}
	50% {transform: rotate(360deg); margin-left: 130px;}
	100% {transform: rotate(360deg); margin-left: 0px;}
}

#road:hover #square{
	animation-play-state: running;
}
#road:active #movearea{
	animation-play-state: running;
}
#road:active #square{
	animation-play-state: paused;
}
#road:active #musicnote{
	animation-play-state: running;
}

#circle1 {
	width: 740px;
	height: 740px;
	background: url("record.jpg");
	background-size: cover;
	/*position: relative;*/
	animation: run 10s linear infinite;
	z-index: -500;
	margin-left:100px;
}


#information {
	width: 30%;
	float: right;
	margin-right: 110px;
	margin-bottom: 40px;
	background-color: white;
}
#survey {
	float: right;
	margin-right: 110px;
	width: 30%;
	background-color: gray;
	color: white;
	font-size: 22px;
	font-family: cursive;
}
#submit {
	position: relative;
	left: 25%;
}
#reset {
	position: relative;
	left: 45%;
}
label, input, select, textarea {
	margin: 10px;
}
textarea {
	resize: vertical;
	width: calc(100% - 20px);
	min-height: 100px;
	max-height: 320px;
}

#paddingblank4 {
	top: 0;
	padding: 600px;
}