
#homepicture {
 top: 0;
 z-index: -1;
 position: fixed;
 width: 100%;
 margin-left: -8px; 
}
#content {
 background-color: whitesmoke;
 padding: 16px;
 margin: -8px;
 z-index: 1;
 bottom: 0;
}
#menu {
	position: sticky;
	top: 0;
	z-index: 9999;
	margin: 0;
	background-color: white;
	margin-top: -8px;
	margin-left: -8px;
	width: 100%;
	padding: 0 4px;
	font-family: fantasy;
}
#menu, #menu li {
	float: left;
}
#menu ul {
	list-style-type: none;
	margin: 0;
}
#menu a {
	text-decoration: none;
	color: black;
	width: 110px;
	height: 35px;
	padding: 10px 0;
	text-align: center;
	display: block;
	font-size: 25px;
}
#menu .interval {
	width: 50px;
}
#menu .menuitem:hover{
	background-color: gray;
	color: white;
}
#search * {
	font-size: 17px;
	font-family: fantasy;
	margin: 0;
	float: left;
}
#search input {
	position: relative;
	left: 370px;
	top: 6px;
}
#search #text {
	width: 250px;
	height: 35px;
}
#search #google, #search #bing {
	width: 80px;
	height: 41px;
	color: white;
}
#search #google {
	background: darkmagenta;
	border: 1px solid darkmagenta;
}
#search #bing {
	background: blue;
	border: 1px solid blue;
}
h1 {
 color: rgb(250, 160, 25);
 text-align: center;
 font-size: 130px;
 padding: 200px 0;
 font-family: fantasy;
}
.circle {
 width:250px;
 height:250px;
 border-radius: 100%;
 background: url("record.jpg");
 background-size: cover;
 float: right;
 animation: run 10s linear infinite;
}
#hptext{
 columns: 100px 3;
}

@keyframes run{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}