/* Ashlyn */
body{
	background-image: url("https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1067.jpg");
	background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0;
}
.card_me, .card_ai{
  width:50px;
  height:75px;
  background-size:cover;
  background-position: center;
  display:inline-block;
}
#area_me{
  text-align:center;
  position: relative;
  top: 0;
  transform: translate(0, -50%);
  margin-top: 500px;
}
#area_ai{
  margin-top: 30px;
  text-align:center;
}
#removecard{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#winner{
  text-align: center;
  color: white;
  font-family:'Asap',cursive;
  font-size:80px;
  text-shadow: 0 0 10px #000;
  margin: 0 auto;
}
#restart{
  text-decoration: none;
  text-align: center;
  color: white;
  font-family:'Asap',cursive;
  font-size:80px;
  text-shadow: 0 0 10px #000;
  margin: 0 auto;
}