#cbody{
	background-image: url("https://img.freepik.com/premium-vector/poker-table-background-green-color_47243-1067.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}
#ctitle{
	font-size: 50px; text-align: center; color: #489e37;
}
#cpic1{
	width: 100%; border-radius: 20px;
}
#crule{

}
#cdiv1{
	background-image: src="https://media.wired.com/photos/5fbe703e534553a88817f988/16:9/w_2400,h_1350,c_limit/Sec_poker_914262206.jpg";
}
#cchand,#cphand{
  height: 300px;
  width:200px;
  background-size:cover;
  background-position: center;
  display:inline-block;
  text-align: center;
  font-size: 50px;
  color: red;
  line-height: 300px;
}

#ccard2,#cchand{
	float: right;
}
#ccard1,#ccard2{
  height: 300px;
  width:200px;
  background-size:cover;
  background-position: center;
  display:inline-block;
}
#cptop{
    float: left;
}
.ccard{
	aspect-ratio: 2/3;
	height: 100%;
	background-size:cover;
	background-position: center;
	display:inline-block;
}
#cstack{
	/*width: 800px;*/
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
	text-align: center;
}
#bt2 {
   display: none;
}





