/* All */
* {
	font-family: serif;
}
body {
	margin: 0;
}
#navigationBar {
	height: 60px;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 9999;
}
.menubtn {
	text-decoration: none;
	color: white;
	width: 9vw;
	height: 100%;
	padding: calc(30px - 0.8vw);
	background-color: lightsteelblue;
	text-align: center;
	float: left;
	border-left: 3px solid white;
}
.menubtn:first-child {
	border: none;
}
.menubtn:hover {
	background-color: steelblue;
}
.menubtn p {
	margin: 0 auto;
	font-size: 1.6vw;
	line-height: 100%;
}
#searchpart {
	float: right;
	height: 40px;
	margin: 10px 0;
}
#searchpart * {
	float: left;
}
#searchbox {
	width: 15vw;
	height: calc(40px - 10px);
	padding: 3px;
	border-radius: 0;
}
#googlebtn, #bingbtn {
	height: 40px;
	width: 7vw;
	border: none;
	font-size: 1.3vw;
	color: white;
}
#googlebtn {
	background-color: lightseagreen;
}
#bingbtn {
	background-color: skyblue;
}
#footer {
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 5px 5px 20px 5px;
	z-index: 800;
}
#footer img {
	width: 50px;
	height: 50px;
}



/* HomePage */
#head {
	font-family: fantasy;
	font-size: 10vw;
	margin: 16vw 0;
	text-align: center;
	color: white;
}
#headimg {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
}
#content {
	width: 100%;
	background-color: whitesmoke;
	padding-bottom: 20px;
}
#content hr {
	width: calc(100% - 40px);
}
#carousel {
	width: 80vw;
	height: 45vw;
	overflow: hidden;
	margin-left: calc(10vw - 20px);
	background-color: grey;
}
#carousel:hover #photo {
	animation-play-state: paused;
}
#photo {
	width: 720vw;
	height: 100%;
	animation-play-state: running;
	animation: scorllRL 40s linear infinite;
}
@keyframes scorllRL {
	0% {margin-left: 0vw;}
	7.5% {margin-left: 0vw;}
	12.5% {margin-left: -80vw;}
	20% {margin-left: -80vw;}
	25% {margin-left: -160vw;}
	32.5% {margin-left: -160vw;}
	37.5% {margin-left: -240vw;}
	45% {margin-left: -240vw;}
	50% {margin-left: -320vw;}
	57.5% {margin-left: -320vw;}
	62.5% {margin-left: -400vw;}
	70% {margin-left: -400vw;}
	75% {margin-left: -480vw;}
	82.5% {margin-left: -480vw;}
	87.5% {margin-left: -560vw;}
	95% {margin-left: -560vw;}
	100% {margin-left: -640vw;}
}
.carouselimg {
	width: 80vw;
	height: 100%;
	background-color: black;
	text-align: center;
	float: left;
}
.carouselimg img {
	height: 45vw;
	margin: 0 auto;
}
#introduction {
	width: 80vw;
	margin-left: calc(10vw - 20px);
}
#introduction p {
	text-indent: 4em;
}
#ngnlintroimg {
	width: 35vw;
	float: right;
	margin: 0 0 10px 10px;
}
#ngnl0introimg {
	width: 33vw;
	float: left;
	margin: 0 10px 10px 0;
}


/* CharacterPage */
#characintro, #coveintro {
	margin: 0 7vw;
	padding: 1vw 3.5vw;
	background-color: whitesmoke;
	/*background-color: purple;*/
}
#characboxs {
	width: 100%;
	height: 82vw;
}
.box {
	width: calc(33.3% - 2vw);
	height: 38.5vw;
	background-color: white;
	box-shadow: 0 0 3px grey;
	margin: 1vw;
	padding: 1vw;
	float: left;
	box-sizing: border-box;
}
.box h3 {
	text-align: center;
	font-size: 1.6vw;
}
#role_blank {
	background-image: url(./「」.jpeg);
}
#role_dola {
	background-image: url(./Dola.jpg);
}
#role_jibril {
	background-image: url(./Jibril1.jpg);
}
#role_izuna {
	background-image: url(./Izuna.jpg);
}
#role_chlammy {
	background-image: url(./Kurami.jpg);
}
#role_fiel {
	background-image: url(./Fiel1.jpg);
}
.characimg {
	background-size: cover;
	width: 100%;
	height: 31vw;
}
.box:hover .characinfo {
	display: block;
	background-color: rgba(78, 17, 100, 0.4);
}
.characinfo {
	width: calc(100% - 2vw);
	height: calc(100% - 1vw);
	padding: 0.5vw 1vw;
	font-size: 1.2vw;
	font-weight: 600;
	display: none;
	float: left;
	color: whitesmoke;
	text-shadow: 1px 1px 2px black;
}
#exceedbox table *{
	border: 1px solid black;
}
#exceedbox b {
	border: none;
}
#exceedbox table {
	border-collapse: collapse;
	width: 70%;
	height: 40vh;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	overflow-wrap: break-word;
}


/* TricksPage */
.trvdetail {
	width: 100%;
	/*height: 11vw;*/
	margin: 1vh -1vw;
	padding: 1vh 1vw;
	display: table;
	overflow: hidden;
}
.trvboxs {
	display: table-cell;
	width: calc(100% - 2vw);
	background-color: white;
	box-shadow: 0 2px 3px grey;
	border-radius: 20px;
	vertical-align: middle;
	padding: 1vw;
}
.trvboxs div {
	width: 60%;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
}
/*.trvboxs:nth-child(odd) div {
	width: 80%;
	float: left;
}
.trvboxs:nth-child(even) div {
	width: 80%;
	float: right;
}
*/


/* AboutUsPage */
#photowall {
	width: 100vw;
	overflow: hidden;
	transform-style: preserve-3d;
	position: fixed;
	top: 0;
	filter: blur(0.7px);
	z-index: -1;
}
#photowallimg {
	opacity: 0.8;
	margin-top: -6vw;
	margin-left: -6vw;
	width: 160vw;
	transform: skewY(20deg);
	z-index: -1;
}
#photowallimg img {
	width: calc(20vw - 0.5vw);
	height: 25vh;
	float: left;
	border: 0.25vw solid white;
	z-index: -1;
}
#suggestion {
	width: 45vw;
	padding: 2vw;
	margin-left: 50vw;
	box-shadow: 0 0 88px 88px rgba(245, 245, 245, 0.9);
	background-color: rgba(245, 245, 245, 0.9);
	z-index: 100;
}
#sgsform {
	line-height: 2.5vw;
	padding: 0 5vw;
}
#sgsform textarea {
	width: 34vw;
	height: 7vw;
	resize: vertical;
	max-height: 20vw;
}
#sgssbmtbtn {
	margin-left: calc(50% + 2vw);
	/*margin-bottom: 2vw;*/
	font-size: 18px;
	width: 15vw;
	background-color: whitesmoke;
}

























